@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.App {
  text-align: center;
}

html {
  background-color: #253766;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 600;
}

h4, h3, h2, h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}